<h1>Demo </h1>
<p>Hello!!!</p>

<a href="/demo/hello">Hello Page</a> <br/>
<%= link_to('Hello page two', {:action =>'hello'}) %><br/>

<%= link_to('Hello page two with params', {:action =>'hello', :page=>5, :id=>20}) %><br/>

<%= link_to('Subjects', subject_path) %><br/>


